@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";

// Fonts
@font-face {
	font-family: 'Cormorant';
	src: url("../fonts/Cormorant-SemiBold.woff") format('woff'), url("../fonts/Cormorant-SemiBold.woff2") format('woff2');
	font-weight: 600;
}
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Regular.woff") format('woff'), url("../fonts/OpenSans-Regular.woff2") format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Bold.woff") format('woff'), url("../fonts/OpenSans-Bold.woff2") format('woff2');
	font-weight: 700;
}
//----Body
body {
	background-color: $accentColor;
}
.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	width: 100%;
	max-width: 73.125rem; /*1170px*/
	margin: 0 auto;
}
.header__up-line{
	height: 8.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3.625rem;
	@include headerLine;
    background-color: $accentColor;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.header__logo{
	width: 5.375rem;
	height: 7.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1.9375rem;
}
.logo{
	width: 100%;
	border-radius: 1.5625rem;
}
.oldy{
	@include mainH2;
	color: $mainColor;
	font-size: 1.75rem;
}
.header__address{
	display: flex;
	flex-direction: column;
	line-height: 1.75;
}
.margin-bottom{
    margin-bottom: .5rem;
}
.header__nav{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}
.header__nav--part:hover{
	@include linkHover;
}
.header__nav--part:active{
	@include linkActive;
}
.header__phone{
	display: flex;
	align-items: center;
	margin-right: 2.1875rem;
}
.header__nav--part,.header__phone--part-number{
	color: $mainColor;
}
.header__phone--part-number{
	margin-left: 1.0625rem;
}
.header__center-line{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.875rem;
	margin-bottom: 3.75rem;
	margin-top: 11.25rem;
}
.header__button-reservation{
	@include button;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reserv{
	@include headerLine;
	color: $accentColor;
	font-weight: 700;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reserv:hover{
	@include buttonHover;
	transform:0.2s; 
}
.reserv:active{
	@include buttonActive;
	transform:0.2s; 
}
.header__social-media{
	display: flex;
	gap: 1.375rem;
}
.header__round-the-clock{
	margin-top: .625rem;
}
.header__down-line{
	width: 100%;
	height: 39.375rem; /*630px*/
	background: url(/assets/images/header/header-background.png) center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}
.header__h1{
	@include mainH2;
	font-family: $mainFont;
	font-weight: 400;
	color: $mainColor;
	margin-top: 12.3125rem;
}
.header__price-per-hour{
	width: 39.375rem; /*630px*/
	height: 6.75rem; /*108px*/
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	font-family: $mainFont;
	font-weight: 700;
	font-size: 2.875rem; /*46px*/
	color: $mainColor;
	border: 1px solid $secondaryColor;
	margin-bottom: 7.8125rem;
	margin-top: 8.9375rem;
}

.header__burger{
	display: none;
}

//----Header Tablet-Desktop Adaptive (1175px) 
@media (max-width: 1175px){
	.header__up-line{
		height: 8.5rem;
		gap: 2.1875rem;
		font-size: .75rem;
	}
	.header__logo{
		width: 5.375rem;
		height: 7.25rem;
		margin-left: 1.9375rem;
		
	}
	.logo{
		width: 100%;
		border-radius: 1.5625rem;
	}
	.oldy{
		@include mainH2;
		color: $mainColor;
		font-size: 1.5rem;
	}
}
//----Header Tablet-Desktop Adaptive (1085px) 
@media (max-width: 1085px){
	.header__phone--part-number{
		display: none;
	}
	.header__center-line{
		margin-bottom: 3.125rem;
	}
		.header__down-line{
			max-height: 32.625rem; 
		}
		.header__h1{
			@include mainH2;
			font-size: 2.25rem;
			flex-wrap: wrap;
			text-align: center;
			max-width: 53.125rem;
			font-family: $mainFont;
			font-weight: 400;
			color: $mainColor;
			margin: 0%;
		}
		.header__price-per-hour{
			width: 32.625rem; /*522px*/
			height: 6.8125rem; /*109px*/
			display: flex;
			font-size:2.25rem; /*38px*/
			margin-bottom: 4.6875rem;
			margin-top: 6rem;
		}
}


@media (max-width: 968px){
    .header__up-line{
		height: 8.5rem;
		gap: 1.5625rem;
		font-size: .625rem;
	}
}
//----Header Tablet-Mobile Adaptive (798px) 
@media (max-width: 798px){
	.header__burger{
		display: flex;
		position: fixed;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		width: 100%;
		height: 13.75rem;
		background-color: $accentColor;
		z-index: 5;
		text-align: center;
		font-family: $mainFont; 
		font-weight: 600;
	}
.header__up-line{
	display: none;
}
.header__center-line{
	display: none;
}

.header__logo--burger{
	position: absolute;
    max-width: 4.625rem;
	top: 30%;
	left: 3vw;
    }
.header__social-media--burger{
	position: absolute;
}
.header__address--burger{
	position: absolute;
	text-align: start;
	@include headerLine;
	font-size: .625rem;
	top: 45%;
	left: 17vw;
}
.margin-bottom--burger{
	margin-bottom: .75rem;
}
.logo--burger{
	width: 4.1875rem;
	height: 4.1875rem;
	border-radius: 1.5625rem;
}
.oldy--burger{
	@include mainH2;
	color: $mainColor;
	font-size: 1.25rem;
	margin-left: .625rem;
}
.header__button-reservation--burger{
	position: absolute;
	@include button;
	width: 12.125rem;
	height: 1.875rem;
	top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.header__social-media--burger{
	position: absolute;
	top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: .75rem;
}
.media{
	width: 2.625rem;
	height: 2.625rem;
}
.header__all-the-time{
	position: absolute;
	bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
	width: 6.125rem; 
	height: 1.75rem; 
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:black;
	font-family: $mainFont;
	font-weight: 700;
	font-size: .75rem; 
	color: $mainColor;
	border: 1px solid $secondaryColor;
}
.reserv--burger{
    @include headerLine;
	color: $accentColor;
	font-weight: 700;
	width: 100%;
	height: 100%;
	font-size: .75rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__phone--burger{
	position: absolute;
	width:4.125rem;
	max-width:4.125rem;
    max-height:4.125rem;
    top: 36%;
    right: 23vw;
}
.header__phone--part-burger{
	width:4.125rem;
	height:4.125rem;
}
.header__down-line{
	width:100%;
    height: 21.875rem;
	margin-top: 13.75rem;
}
.header__price-per-hour{
	width: 22.75rem; /*364px*/
	height: 4.0625rem; /*65px*/
	display: flex;
	font-size:1.625rem; /*26px*/
	margin-bottom: 2.8125rem;
	margin-top: 4.0625rem;
}
.header__h1{
	font-size: 1.625rem;
	width: 32.8125rem;
}

#check-menu{
	display: none;
}
.header__checkbox--burger{
	display: block;
	position: absolute;
	top: 39%;
	right: 7vw;
	width: 7%;;
	height: 20%;
	cursor: pointer;
	z-index: 3;
    }

.burger-line{
	position: absolute;
    top: 39%;
    right: 8vw;
	width: 2.5rem;
	height: .0625rem;
	background-color: $mainColor;
}
.first {
	top: 5.9rem;
}
.second, .third{
	top: 6.9rem;
}
.fourth{
	top: 7.9rem;
}
.burger__menu{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: translateY(100%) ;
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	transition: .5s all ;
}
.burger__item{
	display: block;
	width: 100%;
	font-size: .875rem;
	padding: 1.75rem;
	color: $mainColor;
	background-color: $accentColor;
    border:1px solid rgba(255, 255, 255, 0.4); 
}
#check-menu:checked ~ .burger__menu{
    max-height: 31.25rem;
	font-size: .75rem;
}
#check-menu:checked ~ .first{
	display: none;
}
#check-menu:checked ~ .second{
	transform: rotate(45deg);
	border:1.5px solid rgba(255, 255, 255, 0.4);
}
#check-menu:checked ~ .third{
	transform: rotate(-45deg);
	border:1.5px solid rgba(255, 255, 255, 0.4);
}
#check-menu:checked ~ .fourth{
	display: none;
}
}
//----Header Tablet-Mobile Adaptive (605px) 
@media (max-width: 605px){
	.header__burger{
		max-height: 100vh; 
	}
.header__logo--burger{
    max-width: 3.5rem;
	top: 8%;
	left: 3vw;
    }

.header__address--burger{
	font-size: .625rem;
	top: 70%;
	left: 3vw
}
.margin-bottom--burger{
	margin-bottom: .5rem;
}
.logo--burger{
	width: 4.1875rem;
	height: 4.1875rem;
}
.oldy--burger{
	font-size: 1.25rem;
}
.header__button-reservation--burger{
	width: 10.5rem;
}
.header__social-media--burger{
	top: 42%;
    left: 50%;
	gap: .875rem;
}
.media{
	width: 2.25rem;
	height: 2.25rem;
}
.header__all-the-time{
	position: absolute;
	bottom: 10%;
    left: 50%;
}
.reserv--burger{
	font-size: .75rem;
}
.header__phone--burger{
	width:2.25rem;
	max-width:2.25rem;
    max-height:2.25rem;
    top: 41%;
    right: 23vw;
}
.header__phone--part-burger{
	width:2.25rem;
	height:2.25rem;
}
.header__down-line{
	width:100%;
    height:15.625rem;
	margin-top: 10.5rem;
}
.header__price-per-hour{
	width: 14.5625rem; /*233px*/
	height: 2.0625rem; /*33px*/
	display: flex;
	font-size:1rem; /*16px*/
	margin-bottom: 1.875rem;
	margin-top: 3.125rem;
}
.header__h1{
	font-size: 1rem;
	width: 20.3125rem;
}
.header__checkbox--burger {
	top: 29%;
	right: 8vw;
}
.burger-line{
	position: absolute;
    top: 39%;
    right: 8vw;
	width: 1.875rem;
	height: .0625rem;
	background-color: $mainColor;
}
.first {
	top: 4.6rem;
}
.second, .third{
	top: 5.18rem;
}
.fourth{
	top: 5.75rem;
}
.burger__menu{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: translateY(100%) ;
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	transition: .5s all ;
}
.burger__item{
	display: block;
	width: 100%;
	font-size: .75rem;
	padding: 1.75rem;
	color: $mainColor;
	background-color: $accentColor;
    border:1px solid rgba(255, 255, 255, 0.4);
}
}
//----Header Tablet-Mobile Adaptive (385px) 
@media (max-width: 385px){
	.header__burger{
		height: 9.6875rem; 
	}
.header__logo--burger{
    max-width: 3.25rem;
	top: 8%;
	left: 4vw;
    }
.oldy--burger{
    margin-left:.125rem;
}
.header__address--burger{
	font-size: .5rem;
	top: 60%;
	left: 3vw
}
.margin-bottom--burger{
	margin-bottom: .5rem;
}
.logo--burger{
	width:3.25rem;
	height:3.25rem;
}
.oldy--burger{
	font-size: 1rem;
}
.header__button-reservation--burger{
	width: 9.25rem;
}
.header__social-media--burger{
	top: 42%;
    left: 50%;
	gap: .625rem;
}
.media{
	width: 1.875rem;
	height: 1.875rem;
}
.header__all-the-time{
	position: absolute;
	bottom: 10%;
    left: 50%;
	width:4.875rem;
	height: 1.5rem;
	font-size: .625rem;
}
.reserv--burger{
	font-size: .625rem;
}
.header__phone--burger{
	width:2.25rem;
	max-width:2.25rem;
    max-height:2.25rem;
    top: 41%;
    right: 23vw;
}
.header__phone--part-burger{
	width:2rem;
	height:2rem;
}
.header__down-line{
	width:100%;
    height:12.5rem;
	margin-top: 9.6875rem;
}
.header__price-per-hour{
	width: 13.125rem; /*210px*/
	height: 1.875rem; /*30px*/
	display: flex;
	font-size:.75rem; /*12px*/
	margin-bottom:2.1875rem;
	margin-top: 3.125rem;
}
.header__h1{
	font-size: .875rem;
	width: 20rem;
}
.header__checkbox--burger {
	top: 38%;
	right: 8vw;
}
.burger-line{
	position: absolute;
    top: 39%;
    right: 8vw;
	width: 1.5625rem;
	height: .0625rem;
	background-color: $mainColor;
}
.first {
	top: 4.1rem;
}
.second, .third{
	top: 4.6rem;
}
.fourth{
	top: 5.1rem;
}
.burger__menu{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: translateY(100%) ;
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	transition: .5s all ;
}
.burger__item{
	display: block;
	width: 100%;
	font-size: .625rem;
	padding: 1.75rem;
	color: $mainColor;
	background-color: $accentColor;
    border:1px solid rgba(255, 255, 255, 0.4);
}
}
/*  О нас */
.about-us{
	background: url(../images/background.png) center no-repeat;
	background-size: cover;
}
.about-us__body {
	display: flex;
	flex-direction: column;	
	padding-top: 5.875rem;//94px 
	padding-bottom: 5.875rem;//94px
}
.about-us__h2 {
	@include mainH2;
	text-transform: uppercase;
	padding-bottom: 3.375rem;//54px
	
}
.about-us__content {
	display: flex;
	justify-content: center;
}

.about-us__content--image {
	max-width: 31.375rem;//502
	max-height: 33.125rem;//530p
	border: .0625rem solid $secondaryColor;//1px
}

.about-us__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-us__content--box {
	display: flex;
	flex-direction: column;
	padding-left: 3.75rem; //60px
	gap: 1.875rem;//30px
}
.about-us__content--title {
	@include mainH2;
	color: $mainColor;
}
.about-us__content--text{
	display: flex;
	flex-direction: column;
	gap: 1.875rem;//30px
}

.about-us__content--p {
	@include mainFont;
	max-width: 36.125rem; //578px
	line-height: 175%;
}
.text--bold {
	font-weight: 700;
}
/*Преимущества*/
.benefit__body {
	display: flex;
	flex-direction: column;
	padding-top: 5.875rem;//94px
}
.benefit__title {
	@include mainH2;
	text-transform: uppercase;
	padding-bottom: 3.375rem;//54px
}
.benefit__content--items {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 3.75rem;//60px
	gap: 1.75rem;//28px
}
	
.benefit__text--p {
	@include mainFont;
	max-width: 66.1875rem;//1059px
}

.container_karaoke,.hookah_container{
	
	h2{ 
        @include mainH2;
		padding-top:5.875rem ;   //94px
	}
}

.karaoke_background{
	width: 100%;
	height: 39.375rem;
	margin-top: 3.375rem;
	background-image: url(../images/karaoke/karaoke-background.png);
	background-size:cover ;    
	background-repeat: no-repeat;
	background-position: center top;
	p,span{
		display: flex;
		color: white;
		justify-content: center;
	}
	p{
		align-items: end;
	}
	span{
		align-items: start;
	}

	
	
}

.karaoke{
	grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.9fr 0.1fr 0.2fr;
	display: grid;
	
	

}

.karaoke__text{
	display: grid;
	grid-row: 2/3;
	grid-column: 2/3;
	width:44.75rem ;  //716px
	height:12.75rem ; //204px
	font-family:$mainFont;
	font-size:1.25rem ;  //20px
	background-color: #000000;
	font-weight: 400;
	opacity: 0.8;
}


.hookah_container{
	background-image: url(../images/background.png);
	background-size:cover ;    
	background-repeat: no-repeat;
	height:51.875rem ;  //830px
	background-position: center ;

}

.hookah__text{
	display: grid;
	grid-row: 1/2;
	grid-column: 1/2;
	margin-top: 12rem;
	margin-bottom: 12rem;
	font-size: 1.25rem;  //20px
	font-family:$mainFont;
	margin-left: 11rem;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 1.75;
	height: 13.125rem;


}
.hookah{
    display: grid;
	grid-template-columns: 2fr 0.1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
	

	img{
		display: grid;
		grid-column: 3;
		grid-row: 1/2;
		border: 1px solid #DCCA87 ;
		margin-left: -10rem;
		margin-right: 9rem;
		margin-top: 2rem;
		max-width:21.875rem;      
        max-height:33.125rem ;
		
	}


}

.hookah__image{
     
	width: 100%;
	height: 100%;
	object-fit: cover;

}

/* Стили для акций**/
.container--promo_block{
	margin: 0 auto;
    margin:0 auto;
    height: 41.25rem;/*600 px**/
    color:white;
    margin-bottom:11.75rem;/*188 px 11.75rem;**/
	margin-top: 5.875rem;
    h2{
        @include mainH2;
    }
}
.promo_block-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 34.5rem;
    justify-content: center;
    align-items: center;
    column-gap:2rem;
	row-gap: 2rem;
    margin-bottom: 5rem;
    margin-top: 3.75rem;
}
.promo_block-images--card1, 
.promo_block-images--card2,
.promo_block-images--card3{
    width: 21.875rem; /* 350 px**/
    height: 34.375rem; /* 550 px**/
    border:#dcca87 solid 1px;
    display:flex;
    flex-direction: column;
    h3{
        font-family: 'OpenSans';
        font-weight: 700;
        font-size:1.25rem;/*20 px**/
        text-transform: uppercase;
        text-align: center;
        padding-left: 1.25rem;/*20 px**/
        padding-right: 1.25rem;/*20 px**/

    }
}
.promo_block-images--card1,
.promo_block-images--card3
{
    h3{
        padding-top:6.25rem;
    }
}
.promo_block-images--card2{
    h3{
        padding-top:26.25rem;
    }
}
.promo_block-images--card1{
    background-image: url("/assets/images/sales/sales-1.png");
    background-size: cover;
}


.promo_block-images--card2{
    background-image: url("/assets/images/sales/sales-2.png");
    background-size: cover;
}
.promo_block-images--card3{
    background-image: url("/assets/images/sales/sales-3.png");
    background-size: cover;
}
.promo_block-images--button--button{
    width: 10rem;/*293 px**/
    height: 2rem;
    background-color:#dcca87;
    font-size: 1rem;
    align-items: center;
    font-family: $mainFont;
    font-weight: bold;
    text-transform: uppercase;
    color:$accentColor;
}
.promo_block-images--button{
    text-align: center;
    margin-top:1rem;
    color:$accentColor;
}

/* POP_UP**/
.pop-up,
.pop-up-2,
.pop-up-3
{
    position:fixed;
    top:10%;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
	margin-top: 0;
	margin-bottom: 0;
	
}
.pop-up:target{
    display: block;
	
}
.pop-up-2:target{
    display: block;
}
.pop-up-3:target{
    display: block;
}
.modal,
.modal-2,
.modal-3
{
    position: absolute;
    width: 40%;
    height: 35%;
    /*top:4000px;/*4670-4250 px высота блоков до блока с акциями**/
    left:50%;
    transform: translate(-50%);
    /*margin-top: -25%;**/
    padding:2.5rem;/*40px**/
    background-color:#dcca87;
    text-align: center;
    border-radius:1.25rem;/*20px**/
    p{
        @include mainFont;
        color:$accentColor;
        text-align: left;
    }
    .contact_modal{
        display: flex;
        justify-content: center;
        @include mainFont;
        color:$accentColor;
        margin-top: 2rem;
        a{
            margin-left: 1rem;
            margin-top: -0.7rem;
        }
    }

}

.close-modal,
.close-modal-2,
.close-modal-3
{
    position: absolute;
    top:-1.875rem;/*30px это для закрывающего поп-ап крестика**/
    right: -1.875rem;/*30px это для закрывающего поп-ап крестика**/
    width:3.75rem;/*60px это для закрывающего поп-ап крестика**/
    height: 3.75rem;/*60px это для закрывающего поп-ап крестика**/
    background-color:#d5d5d5;
    color:#fff;
    font-weight: 600;
    font-size: 2.5rem;/*40px это для закрывающего поп-ап крестика**/
    line-height: 3.625rem;/*58px**/
    border-radius: 50%;
    text-decoration: none;
}
/*Стии для блока меню**/
.container--menu{
	margin: 0 auto;
    margin:0 auto;
    height: 60.625rem;/*970 px**/
    color:white;
    h2{
        @include mainH2;
    }
    p{
        @include mainFont;
        text-align: center;
        margin-top: 3.375rem;
        text-transform: uppercase;
    }
}

.menu_block--images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 34.5rem;
    justify-content: center;
    align-items: center;
    column-gap:2rem;
	row-gap:2rem;
    margin-bottom: 5rem;
    margin-top: 3.75rem;
    img{
        width: 21.875rem; /* 350 px**/
        height: 34.375rem; /* 550 px**/
        border:#dcca87 solid 1px;
    }
}
.menu_block--text-and-button--button{
    @include button; 
    align-items: center;
    font-family: $mainFont;
    font-weight: 700;
}
.menu_block--text-and-button{
    text-align: center;
}
.menu_block--text-and-button--button:hover{
    @include buttonHover;
}
.menu_block--text-and-button--button:active{
    @include buttonActive;
}

//---Photo-Gallery---/
.photo-gallery_container {
	display: grid;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-image: url("../images/background.png");
}
.photo-gallery {
display: grid;
grid-column: 1/3;
grid-row: 2/4;
height: 100vh;
}
.photo-gallery_header_2 {
display: grid;
@include mainH2;
grid-column: 1/2;
grid-row: 1/2;
margin-top: 5.875rem;
}
.photo-gallery_pics {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(25.625rem, 1fr));
grid-template-rows: repeat(2, 19.0625rem);
justify-items: center;
}
.photo-gallery_pic_1 {
	display: grid;
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
	margin-bottom: 3.8125rem;
	border: 1px solid #DCCA87;
	transition: 0.2s; 
}
.photo-gallery_pic_2 {
	display: grid;
	grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
	margin-bottom: 3.8125rem;
	border: 1px solid #DCCA87;
	transition: 0.2s; 
}
.photo-gallery_pic_3 {
	display: grid;
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
	border: 1px solid #DCCA87;
	transition: 0.2s; 
}
.photo-gallery_pic_4 {
	display: grid;
	grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
	border: 1px solid #DCCA87;
	transition: 0.2s; 
}
.photo-gallery_pic_1:hover {
	transform: scale(1.05);
	cursor: pointer;
}
.photo-gallery_pic_2:hover {
	transform: scale(1.05);
	cursor: pointer;
}
.photo-gallery_pic_3:hover {
	transform: scale(1.05);
	cursor: pointer;
}
.photo-gallery_pic_4:hover {
	transform: scale(1.05);
	cursor: pointer;
}

//---Contacts---/
.contacts_container {
	display: flex;
	flex-direction: column;
}
.contacts_header_2 {
	@include mainH2;
	margin-top: 5.875rem;
	margin-bottom: 3.25rem;
}
.contacts_items {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	max-width: 100%;
}
.contacts_item_1,
.contacts_item_2 {
	display: flex;
	flex-direction: column;
	
	flex-wrap: wrap;
}
.contacts_item_1 {
	display: flex;
	
}
.contacts_item_2 {
	display: flex;
	flex-direction: column;
}
.contacts_text_part_1,
.contacts_text_part_2-2,
.contacts_text_part_3-2 {
	display: flex;
	@include mainFont;
	line-height: 1.75;
}
.contacts_text_block_1 {
	display: flex;
	flex-direction: column;
	margin-bottom: 2.4375rem;
}
.contacts_text_block_2 {
	display: flex;
	margin-bottom: 3rem;
}
.contacts_text_block_3 {
	display: flex;
	flex-direction: row;
}
.contacts_text_part_2-2 {
	display: flex;
	margin-left: 0.8rem;
	align-self: center;
}
.contacts_text_part_3-2 {
	display: flex;
	flex-direction: column;
	margin-left: 1.375rem;
	align-self: center;
}
.contacts_button_block {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-top: 7.6875rem;
}
.contacts_social-media_block {
	display: flex;
	align-self: center;
}
.contacts_button {
	display: flex;
	@include button;
	@include mainFont;
	font-weight: 700;
	font-size: 14px;
	color: #000000;
	justify-content: center;
	align-items: center;
	margin-bottom: 28px;
}
.contacts_button:hover {
	@include buttonHover;
}
.contacts_button:active {
	@include buttonActive;
}
.contacts_icon_1 {
	display: flex;
	margin-right: 1.375rem;
	margin-bottom: 5.1875rem;
}
.contacts_icon_2 {
	display: flex;
	margin-right: 1.375rem;
	justify-content: center;
}

//---Footer---/
.footer {
	width: 100%;
	margin-top: auto;
}
.footer_container {
	display: flex;
	height: 10.625rem;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
}	
.footer_text {
	display: flex;
	@include mainFont;
	justify-content: center;
	line-height: 2.1875rem;
}
.footer_text-policy {
	@include mainFont;
}
.footer_text-policy:hover {
	@include linkHover;
}
.footer_text-policy:active {
	@include linkActive;
}
/*--Адаптив для экранов до 1025px (1025px/16px=64.0625em)-*/
