@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";

// Fonts
@font-face {
	font-family: 'Cormorant';
	src: url("../fonts/Cormorant-SemiBold.woff") format('woff'), url("../fonts/Cormorant-SemiBold.woff2") format('woff2');
	font-weight: 600;
}
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Regular.woff") format('woff'), url("../fonts/OpenSans-Regular.woff2") format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Bold.woff") format('woff'), url("../fonts/OpenSans-Bold.woff2") format('woff2');
	font-weight: 700;
}
//----Body
body {
	background-color: $accentColor;
}
.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	width: 100%;
	max-width: 73.125rem; /*1170px*/
	margin: 0 auto;
}
/*  О нас */
.about-us__body {
	width: 90rem;//1440px
	display: flex;
	flex-direction: column;
	background: url(../images/background.png) center no-repeat;
	padding: 5.875rem 8.375rem; //94px 134px
	background-size: cover;
}
.about-us__header {
	@include mainH2;
	text-transform: uppercase;
	padding-bottom: 3.375rem;//54px
}
.about-us__content {
	display: flex;
}

.about-us__image {
	width: 31.375rem;//502
	height: 33.125rem;//530px
}
.about-us__content--box {
	display: flex;
	flex-direction: column;
	padding-left: 3.75rem; //60px
	gap: 1.875rem;//30px
}
.about-us__content--title {
	font-family: $mainFont;
	font-size: 2.75rem; //44px
	font-weight: 600;
	color: $mainColor;
}
.about-us__content--text{
	display: flex;
	flex-direction: column;
	gap: 1.875rem;//30px
}

.about-us__content--p {
	@include mainFont;
	width: 31.25rem; //500px
	line-height: 175%;
}
