@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";

// Fonts
@font-face {
	font-family: 'Cormorant';
	src: url("../fonts/Cormorant-SemiBold.woff") format('woff'), url("../fonts/Cormorant-SemiBold.woff2") format('woff2');
	font-weight: 600;
}
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Regular.woff") format('woff'), url("../fonts/OpenSans-Regular.woff2") format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Bold.woff") format('woff'), url("../fonts/OpenSans-Bold.woff2") format('woff2');
	font-weight: 700;
}
//----Body
body {
	background-color: $accentColor;
}
.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	width: 100%;
	max-width: 73.125rem; /*1170px*/
	margin: 0 auto;
}

.container--menu{
	margin: 0 auto;
    margin:0 auto;
    height: 60.625rem;/*970 px**/
    color:white;
    h2{
        @include mainH2;
    }
    p{
        @include mainFont;
        text-align: center;
        margin-top: 3.375rem;
    }
}

.menu_block--images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 34.5rem;
    justify-content: center;
    align-items: center;
    column-gap:2rem;
    margin-bottom: 5rem;
    margin-top: 3.75rem;
    img{
        width: 21.875rem; /* 350 px**/
        height: 34.375rem; /* 550 px**/
        border:#dcca87 solid 1px;
    }
}
.menu_block--text-and-button--button{
    @include button; 
    align-items: center;
}
.menu_block--text-and-button{
    text-align: center;
}