@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, main, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  background-color: transparent;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-SemiBold.woff") format("woff"), url("../fonts/Cormorant-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
body {
  background-color: #0C0C0C;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 73.125rem; /*1170px*/
  margin: 0 auto;
}

/* Стили для акций**/
.container--promo_block {
  margin: 0 auto;
  margin: 0 auto;
  height: 41.25rem; /*600 px**/
  color: white;
  margin-bottom: 5.875rem; /*94 px**/
}
.container--promo_block h2 {
  color: #dcca87;
  font-size: 2.75rem; /*44px**/
  font-family: "Cormorant";
  font-weight: 600;
}

.promo_block-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 34.5rem;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 5rem;
  margin-top: 3.75rem;
}

.promo_block-images--card1,
.promo_block-images--card2,
.promo_block-images--card3 {
  width: 21.875rem; /* 350 px**/
  height: 34.375rem; /* 550 px**/
  border: #dcca87 solid 2px;
  display: flex;
  flex-direction: column;
}
.promo_block-images--card1 h3,
.promo_block-images--card2 h3,
.promo_block-images--card3 h3 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.25rem; /*20 px**/
  text-transform: uppercase;
  text-align: center;
  padding-left: 1.25rem; /*20 px**/
  padding-right: 1.25rem; /*20 px**/
}

.promo_block-images--card1 h3,
.promo_block-images--card3 h3 {
  padding-top: 6.25rem;
}

.promo_block-images--card2 h3 {
  padding-top: 26.25rem;
}

.promo_block-images--card1 {
  background-image: url("/assets/images/sales/sales-1.png");
  background-size: cover;
}

.promo_block-images--card2 {
  background-image: url("/assets/images/sales/sales-2.png");
  background-size: cover;
}

.promo_block-images--card3 {
  background-image: url("/assets/images/sales/sales-3.png");
  background-size: cover;
}

.promo_block-images--button--button {
  width: 10rem; /*293 px**/
  height: 2rem;
  background-color: #dcca87;
  font-size: 1rem;
  align-items: center;
}

.promo_block-images--button {
  text-align: center;
  margin-top: 1rem;
}

/* POP_UP**/
.pop-up,
.pop-up-2,
.pop-up-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.pop-up:target {
  display: block;
}

.pop-up-2:target {
  display: block;
}

.pop-up-3:target {
  display: block;
}

.modal,
.modal-2,
.modal-3 {
  position: absolute;
  width: 40%;
  height: 35%;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  margin-top: -25%;
  padding: 2.5rem; /*40px**/
  background-color: #dcca87;
  text-align: center;
  border-radius: 1.25rem; /*20px**/
}
.modal p,
.modal-2 p,
.modal-3 p {
  font-family: "Open Sans";
  font-size: 1.25rem; /*20px**/
  font-weight: 400;
  text-align: center;
}

.close-modal,
.close-modal-2,
.close-modal-3 {
  position: absolute;
  top: -1.875rem; /*30px это для закрывающего поп-ап крестика**/
  right: -1.875rem; /*30px это для закрывающего поп-ап крестика**/
  width: 3.75rem; /*60px это для закрывающего поп-ап крестика**/
  height: 3.75rem; /*60px это для закрывающего поп-ап крестика**/
  background-color: #d5d5d5;
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem; /*40px это для закрывающего поп-ап крестика**/
  line-height: 3.625rem; /*58px**/
  border-radius: 50%;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */